@model StudentViewModel

@{
    ViewData["Title"] = "Students";
}

<div class="cstm-page-title">
    <div class="header-icon">
        <i class="bi bi-people"></i>
        Students
    </div>
    <div class="description">
        In this page you can see all the students stored in database.
    </div>
</div>

<table class="cstm-table">
    <thead>
        <tr>
            <th class="text-center"><input type="checkbox" class="form-check-input" id="cb_all" /></th>
            <th>ID</th>
            <th>Name</th>
            <th>Contact No.</th>
            <th>Email Address</th>
            <th>Status</th>
            <th>Created Date</th>
            <th>Modified Date</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var student in Model.studentList) {
            <tr>
                <td class="text-center"><input type="checkbox" class="form-check-input" id="cb_@student.ID" /></td>
                <td>@student.ID</td>
                <td>@student.FirstName + @student.LastName</td>
                <td>@student.PersonalContactNo</td>
                <td>@student.PersonalEmailAddress</td>
                <td>@student.StatusDescription</td>
                <td>@student.CreatedDate.ToString("yyyy-MM-dd")</td>
                <td>@student.ModifiedDate?.ToString("yyyy-MM-dd")</td>
                <td class="text-center">
                    <button>View</button>
                    <button>Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>