@model StudentViewModel

@{
    ViewData["Title"] = "Students";
}

<div class="cstm-page-title">
    <div class="header-icon">
        <i class="bi bi-people"></i>
        Students
    </div>
    <div class="description">
        In this page you can see all the students stored in database.
    </div>
</div>

<button type="button" class="btn btn-primary btn-sm me-2">
    <i class="bi bi-person-plus-fill"></i> &nbsp;
    Add Student
</button>

<div id="actionButtons" class="btn-group btn-group-sm" role="group" style="display:none;">
    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <span id="actionSelected">Action</span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="#">
                <i class="bi bi-arrow-up"></i> &nbsp;
                Enable
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="#">
                <i class="bi bi-arrow-down"></i> &nbsp;
                Disable
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="#">
                <i class="bi bi-trash3"></i> &nbsp;
                Delete
            </a>
        </li>
    </ul>
</div>

<table class="cstm-table">
    <thead>
        <tr>
            <th class="text-center"><input type="checkbox" class="form-check-input" id="cb_all" onchange="SelectAllStudent(this)" /></th>
            <th>ID</th>
            <th>Name</th>
            <th>Contact No.</th>
            <th>Email Address</th>
            <th class="text-center">Type</th>
            <th class="text-center">Status</th>
            <th>Created Date</th>
            <th>Modified Date</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var student in Model.studentList) {
            <tr>
                <td class="text-center">
                    <input type="checkbox" class="form-check-input" id="@student.InternalID" name="studentSelection" onchange="SelectStudentByID(this)" />
                    </td>
                <td>@student.ID</td>
                <td>@student.FirstName + @student.LastName</td>
                <td>@student.PersonalContactNo</td>
                <td>@student.PersonalEmailAddress</td>
                <td class="text-center">
                    <span class="cstm-badge type-@student.Type">
                        @student.TypeDescription
                    </span>
                </td>
                <td class="text-center">
                    <span class="cstm-badge status-@student.Status">
                        @student.StatusDescription
                    </span>
                </td>
                <td>@student.CreatedDate.ToString("yyyy-MM-dd")</td>
                <td>@student.ModifiedDate?.ToString("yyyy-MM-dd")</td>
                <td class="text-center">
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots"></i> &nbsp;
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item @(student.Status != Status.DELETION_INT ? "" : "disabled")" href="#">
                                    <i class="bi bi-binoculars"></i> &nbsp;
                                    View
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item @(student.Status == Status.ENABLED_INT ? "" : "disabled")" href="#">
                                    <i class="bi bi-pencil"></i> &nbsp;
                                    Edit
                                </a>
                            </li>
                            <li>
                                @if(student.Status == Status.ENABLED_INT)
                                {
                                    <a class="dropdown-item" href="#">
                                        <i class="bi bi-arrow-down"></i> &nbsp;
                                        Disable
                                    </a>
                                }
                                else
                                {
                                    <a class="dropdown-item" href="#">
                                        <i class="bi bi-arrow-up"></i> &nbsp;
                                        Enable
                                    </a>
                                }
                            </li>
                            <li>
                                <a class="dropdown-item @(student.Status != Status.DELETION_INT ? "" : "disabled")" href="#">
                                    <i class="bi bi-trash3"></i> &nbsp;
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    var studentIDs = [];

    function SelectStudentByID(input){
        let idx = studentIDs.indexOf(input.id);

        if(idx > -1)
            studentIDs.splice(idx, 1);
        else
            studentIDs.push(input.id);
        ActionStateChanged();
    }

    function SelectAllStudent(input) {
        let checkboxes = document.getElementsByName("studentSelection");
        studentIDs = [];

        checkboxes.forEach(data => {
            data.checked = input.checked;
            if(input.checked) 
                studentIDs.push(data.id);
        })
        ActionStateChanged();
    }

    function ActionStateChanged(){
        let span = document.getElementById("actionSelected");
        let button = document.getElementById("actionButtons");

        if(studentIDs.length > 0) {
            span.innerText = "Action for " + studentIDs.length;
            button.style.display = "";
        }
        else {
            span.innerText = "Action";
            button.style.display = "none";
        }
    }

</script>